.App {
  text-align: center;
}


.App-header{
  background-color: #282c34;
  min-height: 10vh;
  font-size: 10px;
  color: white;
  margin-bottom: -3vh;
}

#header-logo{
  max-width: 40%;
}


.navigation-container{
 width: 100vw;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

 padding-top: 10px;
padding-bottom: 10vh;
}




.page-component{
  background-color: #282c34; 
  height: 100vh;


}

.homepage-component{
background-color: #282c34;
}

.contact-component{
  display: flex;
  justify-content: center;
}

.section-title{
  color: white;
  font-family: 'Bebas Neue', cursive;
}

#jumbotron{
  max-width: 80%;
  margin-top: 20px;
}

#meet-the-comics{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
.comic-feature{
  max-width: 80%;
  margin-top: 5vh;
  border: rgb(255, 255, 255, .9) solid 2px;
  }

.instagram-logo{
  height: 30px;
  width: 30px;
 margin-left: 120px;
}

.email-link{
  color: black;
  border: solid black 2px;
  border-radius: 5%;
  padding: 5px;
 
}
  
.link-container{
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  width: 40vw;
}

.about-photo{
width: 40vh;
}

.about-summary{
  color: white;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
