.App {
  text-align: center;
}


.App-header{
  background-color: #282c34;
  min-height: 10vh;
  font-size: 10px;
  color: white;
}

#header-logo{
  max-width: 40%;
}


.nav-holder{
  display: flex;
  justify-content: space-between;
}

.navigation-container{
 width: 100vw;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

 padding-top: 10px
}



.content-component{
  background-color: #282c34; 

}

.section-title{
  color: white;
  font-family: 'Bebas Neue', cursive;
}

#jumbotron{
  max-width: 80%;
  margin-top: 20px;
}

#meet-the-comics{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
.comic-feature{
  max-width: 80%;
  margin-top: 5vh;
  border: rgb(255, 255, 255, .9) solid 2px;

  
  }

  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
