.App {
  text-align: center;
}


.App-header{
  background-color: black;
  min-height: 10vh;
  font-size: 10px;
  color: white;
  margin-bottom: -3vh;
}

#header-logo{
  max-width: 50%;
  animation: logoshake 2s linear infinite normal;
}


.navigation-container{
 width: 100vw;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 font-family: 'Bebas Neue', cursive;
 font-size: larger;
 padding-top: 10px;
padding-bottom: 10vh;
text-decoration: underline;
}

.page-component{
  background-color: black; 
  height: 100vh;

}

.homepage-component{
background-color: black;
}

.contact-component{
  display: flex;
  justify-content: center;
}

.section-title{
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.section-subtitle{
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.sub-subtitle{
  color: white;
  font-family: 'Bebas Neue', cursive;
}

#jumbotron{
  max-width: 80%;
  margin-top: 20px;
}

#meet-the-comics{
  color: white;
  margin-top: 30vh;
}

a{
  color: white;
  text-decoration: none;
}
.comic-feature{
  max-width: 80%;
  margin-top: 5vh;
  border: rgb(255, 255, 255, .9) solid 2px;
  }

.instagram-logo{
  width: 20vw;
  animation: logo-shake 60s linear infinite normal;
 
}

#email-link{
  color: white;
  border: solid  2px; 
  
  border-radius: 5%;
  padding: 5px;
 font-family: 'Bebas Neue', cursive ;
 width: 50vw;
 display: flex;
 align-items: center;
}
  
.link-container{
  margin-top: 30vh;
  display: flex;
  width: 40vw;
}

.about-photo{
width: 40vh;
}

.about-summary{
  color: white;

}

#eventbrite-link{
  margin-top: 5vh;
  color: #fede4a;
  text-decoration: underline;
}

.footer{
  background-color: #282c34;
  height: 20px;
}
@keyframes logoshake {
  from {
    transform: translate(5px, 0%)
  }25%{
    transform: translate(-5px, 5%)
  }50%{
    transform: translate(-10px, 0%)
  }75%{
    transform: translate(-5px, 0%)
  }
  to {
    transform: translate(-1px, 0%)
  }
}
